@model HomeIndexVM
<section class="home-slider js-fullheight owl-carousel bg-white">
    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid p-0">
            <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
                 data-scrollax-parent="true">
                <div class="one-third order-md-last img js-fullheight"
                     style="background-image:url(images/8.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
                     data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text mt-md-5">
                        <h1 class="mb-4">Đặc sản  <br> Bánh ướt Huế</h1>
                        <p>
                            Là niềm tự hào của người dân Huế, đây là món ngon Huế ai đi xa cũng phải nhớ. Mè xửng là thứ kẹo ngon lại còn dai dai, ăn mãi vẫn không thấy ngán.
                        </p>
                        <div class="thumb mt-4 mb-3 d-flex">
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url(images/1.jpg);"></div>
                                <h4> Bánh Khò</h4>
                            </a>
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url(images/2.jpg);"></div>
                                <h4>Bún Bò huế</h4>
                            </a>
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url(images/3.jpg);"></div>
                                <h4>Quẩy</h4>
                            </a>
                        </div>
                        <p><a asp-controller="Order" asp-action="index" class="btn btn-primary px-4 py-3 mt-3">Order Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid p-0">
            <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end"
                 data-scrollax-parent="true">
                <div class="one-third order-md-last img js-fullheight"
                     style="background-image:url(images/7.jpg);">
                    <div class="overlay"></div>
                </div>
                <div class="one-forth d-flex js-fullheight align-items-center ftco-animate"
                     data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text mt-md-5">
                        <h1 class="mb-4">Bún <br> Nắm Nêm</h1>
                        <p>
                            Là niềm tự hào của người dân Huế, đây là món ngon Huế ai đi xa cũng phải nhớ. Mè xửng là thứ kẹo ngon lại còn dai dai, ăn mãi vẫn không thấy ngán.
                        </p>
                        <div class="thumb mt-4 mb-3 d-flex">
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url(images/1.jpg);"></div>
                                <h4> Bánh Khò</h4>
                            </a>
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url(images/2.jpg);"></div>
                                <h4>Bún Bò huế</h4>
                            </a>
                            <a href="#" class="thumb-menu pr-md-4 text-center">
                                <div class="img" style="background-image: url(images/3.jpg);"></div>
                                <h4>Quẩy</h4>
                            </a>
                        </div>
                        <p><a asp-controller="Order" asp-action="index" class="btn btn-primary px-4 py-3 mt-3">Order Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-5 img img-2 d-flex align-items-center justify-content-center justify-content-md-end"
                 style="background-image: url(images/about.jpg); position: relative">
                <a href="https://vimeo.com/45830194"
                   class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="ion-ios-play"></span>
                </a>
            </div>
            <div class="col-sm-7 wrap-about py-5 ftco-animate">
                <div class="heading-section mt-5 mb-4">
                    <div class="pl-lg-5 ml-md-5">
                        <span class="subheading" id="nameAbout"></span>

                    </div>
                </div>
                <div class="pl-lg-5 ml-md-5">
                    <p id="about">

                    </p>
                    <h3 class="mt-5">Đặc sản Huế</h3>
                    <div class="thumb my-4 d-flex">
                        <a href="#" class="thumb-menu pr-md-4 text-center">
                            <div class="img" style="background-image: url(images/19.jpg);"></div>
                            <h4>Bánh canh</h4>
                        </a>
                        <a href="#" class="thumb-menu pr-md-4 text-center">
                            <div class="img" style="background-image: url(images/20.jpg);"></div>
                            <h4>Bánh khoái</h4>
                        </a>
                        <a href="#" class="thumb-menu pr-md-4 text-center">
                            <div class="img" style="background-image: url(images/21.jpg);"></div>
                            <h4>Chè Huế</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_4.jpg);"
         data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="18">0</strong>
                                <span>Years of Experienced</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="20000">0</strong>
                                <span>Happy Customers</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="564">0</strong>
                                <span>Finished Projects</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18">
                            <div class="text">
                                <strong class="number" data-number="300">0</strong>
                                <span>Working Days</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Thực đơn món Huế</span>
                <h2 class="mb-4">Our Menu</h2>
            </div>
        </div>



        <div class="container">
            <div class="text-center">
                <button class="btn btn-dark filter-product-btn" data-filter="all">All</button>
                @foreach (var item in Model.Categories)
                {
                    <button class="btn btn-dark filter-product-btn" data-filter="@item.CategoryName">@item.CategoryName</button>
                }
            </div>

            <div class="row mt-5">
                @foreach (var item in Model.Foods)
                {
                    <div class="col-md-6 pb-4 filter @item.Category.CategoryName">
                        <div class="card bg-white rounded shadow-sm">
                            <div class="card-body row">
                                <div class="col-7"><label>@item.ShortContent</label></div>
                                <div class="col-5"><label>@string.Format("{0:c0}", item.Price)</label></div>
                            </div>
                            <img src="@CommonDefault.ImagePath@item.Image" alt="Alternate Text" class="card-img-top img-fluid d-block mx-auto mb-3 " />
                            <div class="card-body row">
                                <div class="col-12">
                                    <span class="badge w-100" style="background-color: lawngreen">@item.Category.CategoryName</span>
                                </div>
                            </div>
                            <div class="col-6 text-right ">
                                <a asp-controller="Blog" asp-action="Index" class="btn btn-primary">
                                    Xem Thêm
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center ftco-animate">
                <p><a asp-controller="Specialties" asp-action="index" class="btn btn-black py-3 px-5">View All Menu</a></p>
            </div>
        </div>
    </div>

</section>

<section class="ftco-section testimony-section" style="background-image: url(images/bg_5.jpg);"
         data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Testimony</span>
                <h2 class="mb-4">Happy Customer</h2>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-7">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">
                                    Far far away, behind the word mountains, far from the countries
                                    Vokalia and Consonantia, there live the blind texts.
                                </p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">
                                    Far far away, behind the word mountains, far from the countries
                                    Vokalia and Consonantia, there live the blind texts.
                                </p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">
                                    Far far away, behind the word mountains, far from the countries
                                    Vokalia and Consonantia, there live the blind texts.
                                </p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/person_4.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">
                                    Far far away, behind the word mountains, far from the countries
                                    Vokalia and Consonantia, there live the blind texts.
                                </p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center py-4 pb-5">
                            <div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">
                                    Far far away, behind the word mountains, far from the countries
                                    Vokalia and Consonantia, there live the blind texts.
                                </p>
                                <p class="name">Arthur Browner</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Chef</span>
                <h2 class="mb-4">Our Mater Chef</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img" style="background-image: url(images/chef-4.jpg);"></div>
                    <div class="text px-4 pt-4">
                        <h3>John Smooth</h3>
                        <span class="position mb-2">CEO, Co Founder</span>
                        <div class="faded">
                            <!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
                            <ul class="ftco-social d-flex">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img" style="background-image: url(images/chef-2.jpg);"></div>
                    <div class="text px-4 pt-4">
                        <h3>Rebeca Welson</h3>
                        <span class="position mb-2">Head Chef</span>
                        <div class="faded">
                            <!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
                            <ul class="ftco-social d-flex">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img" style="background-image: url(images/chef-3.jpg);"></div>
                    <div class="text px-4 pt-4">
                        <h3>Kharl Branyt</h3>
                        <span class="position mb-2">Chef</span>
                        <div class="faded">
                            <!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
                            <ul class="ftco-social d-flex">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img" style="background-image: url(images/chef-1.jpg);"></div>
                    <div class="text px-4 pt-4">
                        <h3>Luke Simon</h3>
                        <span class="position mb-2">Chef</span>
                        <div class="faded">
                            <!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
                            <ul class="ftco-social d-flex">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 ftco-animate img img-2" style="background-image: url(images/bg_6.jpg);"></div>
            <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
                <div class="heading-section ftco-animate mb-5">
                    <span class="subheading">Contact us</span>

                </div>
                <form asp-controller="Home" asp-action="create" method="POST">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="">Evualute</label>
                                <input type="text" class="form-control" placeholder="Evualute">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="">Description</label>
                                <input type="text" class="form-control" placeholder="Description">
                            </div>
                        </div>




                        <div class="col-md-12 mt-3">
                            <div class="form-group">
                                <input type="submit" value="Send" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/AJAX/Food.js" asp-append-version="true"></script>

    <link href="~/css/myStyles.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $(".filter-product-btn").click(function () {
                let value = $(this).attr('data-filter');

                if (value == "all") {
                    $(".filter").show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $(".filter").filter('.' + value).show('3000');
                }
            })
        })
    </script>

}

