@model HomeIndexVM


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Thực đơn món Huế</span>
                <h2 class="mb-4">Our Menu</h2>
            </div>
        </div>



        <div class="container">
            <div class="text-center">
                <button class="btn btn-dark filter-product-btn" data-filter="all">All</button>
                @foreach (var item in Model.Categories)
                {
                    <button class="btn btn-dark filter-product-btn" data-filter="@item.CategoryName">@item.CategoryName</button>
                }
            </div>

            <div class="row mt-5">
                @foreach (var item in Model.Foods)
                {
                    <div class="col-md-6 pb-4 filter @item.Category.CategoryName">
                        <div class="card bg-white rounded shadow-sm">
                            <div class="card-body row">
                                <div class="col-7"><label>@item.ShortContent</label></div>
                                <div class="col-5"><label>@string.Format("{0:c0}", item.Price)</label></div>
                            </div>
                            <img src="@CommonDefault.ImagePath@item.Image" alt="Alternate Text" class="card-img-top img-fluid d-block mx-auto mb-3 " />
                            <div class="card-body row">
                                <div class="col-12">
                                    <span class="badge w-100" style="background-color: lawngreen">@item.Category.CategoryName</span>
                                </div>
                            </div>
                            <div class="col-6 text-right ">
                                <a asp-controller="OrderFood" asp-action="Create" class="btn btn-primary">
                                    Order
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center ftco-animate">
                <p><a asp-controller="Specialties" asp-action="index" class="btn btn-black py-3 px-5">View All Menu</a></p>
            </div>
        </div>
    </div>

</section>






@section Scripts {
    <script src="~/AJAX/Food.js" asp-append-version="true"></script>
   
    <link href="~/css/myStyles.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $(".filter-product-btn").click(function () {
                let value = $(this).attr('data-filter');

                if (value == "all") {
                    $(".filter").show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $(".filter").filter('.' + value).show('3000');
                }
            })
        })
    </script>

}

